@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Pääsy kielletty";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Sinulla ei ole pääsyä tähän resurssiin.</p>
</header>
