@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Unohditko salasanasi?";
}

<hr />
<div class="row">
    <div class="col col-sm-3 col-lg-4 col-md-3"></div>
    <div class="col-md-6 col-sm-6 center text-center" style="background-color:white;">
        <img src="~/img/apoa.png" style="" alt="" class="img-fluid">
        <form method="post" style="margin-top:20px;margin-bottom:20px;">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Input.Email" class="form-control" placeholder="Sähköpostiosoitteesi"/>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary w-100">Lähetä</button>
        </form>
        <div>
            <p>
                <a asp-page="./Login">Kirjaudu sisään</a>
            </p>
        </div>
    </div>
    <div class="col col-sm-3 col-lg-4 col-md-3"></div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
        html body {
            height:100%
        }

        body {
            background-color:rgb(86, 79, 163);
        }

        .center {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
</style>
