@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Salasana vaihdettu";
}

<h1>@ViewData["Title"]</h1>
<p>
    Salasana on vaihdettu. <a asp-page="./Login">Kirjaudu sisään</a>.
</p>
